<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Login / Register</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Login/Register</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>
							There are advances being made in science and technology everyday, and a good example
							of this is the
						</p>
						<a class="button button-account" href="register.html">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Log in to enter</h3>
					<form class="row login_form" onsubmit="sendForm(this); return false;">
						<div class="col-md-12 form-group">
							<input
								required
								type="email"
								class="form-control"
								name="email"
								placeholder="Email"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Email'"
								autocomplete="email"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								required
								type="password"
								class="form-control"
								name="pass"
								placeholder="Пароль"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Пароль'"
								autocomplete="new-password"
							/>
						</div>
						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector" />
								<label for="f-option2">Keep me logged in</label>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<p id="info" style="color: red"></p>
							<button type="submit" value="submit" class="button button-login w-100">Авторизоваться</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
<script>
	async function sendForm(form) {
		info.innerText = ``;
		let formData = new FormData(form);

		let response = await fetch("authUser", {
			method: "POST",
			body: formData,
		});
		let fromBack = await response.json();

		if ((fromBack.result == "success")) {
			location.href = "/users/profile";
		} else if (fromBack.result == "user_not_found") {
			info.innerText = `Неверные данные`;
		}
	}
</script>
