<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Регистрация</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Главная</a></li>
						<li class="breadcrumb-item active" aria-current="page">Регистрация</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Вы уже зарегистрированы?</h4>
						<p>
							Чтобы воспользоваться возможностью удобных покупок в нашем магазине войдите под своими
							учетными данными.
						</p>
						<a class="button button-account" href="/auth">Войти</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Создание аккаунта</h3>
					<form class="row login_form" onsubmit="sendForm(this); return false;">
						<div class="col-md-12 form-group">
							<input
								required
								type="text"
								class="form-control"
								name="name"
								placeholder="Имя"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Имя'"
								autocomplete="username"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								required
								type="text"
								class="form-control"
								name="lastname"
								placeholder="Фамилия"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Фамилия'"
								autocomplete="username"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								required
								type="email"
								class="form-control"
								name="email"
								placeholder="Email"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Email'"
								autocomplete="email"
							/>
						</div>
						<div class="col-md-12 form-group">
							<input
								required
								type="password"
								class="form-control"
								name="pass"
								placeholder="Пароль"
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Пароль'"
								autocomplete="new-password"
							/>
						</div>
						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" required />
								<label for="f-option2">Согласен на обработку персональных данных</label>
							</div>
						</div>
						<p id="info" style="color: red"></p>
						<div class="col-md-12 form-group">
							<button type="submit" class="button button-register w-100">Зарегистрироваться</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
<!-- Модальное окно -->
<div
	class="modal fade"
	id="Modal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Вы успешно зарегистрировались!</h5>
			</div>
			<div class="modal-body">И будете перенаправлены на страницу авторизации через 3 секунды.</div>
		</div>
	</div>
</div>

<script>
	async function sendForm(form) {
		info.innerText = ``;
		let formData = new FormData(form);

		let response = await fetch("addUser", {
			method: "POST",
			body: formData,
		});
		let fromBack = await response.json();

		if ((fromBack.result == "success")) {
			$("#Modal").modal("show");
			setTimeout(()=>{
				location.href = "auth";
			}, 3000)
		} else if (fromBack.result == "exist") {
			info.innerText = `Такой пользователь уже есть`
		}
	}
</script>
